{% extends "base.html" %}
{% block content %}
<div class="loading-container">
  <div class="loading-bars">
    <div class="bar red"></div>
    <div class="bar yellow"></div>
    <div class="bar green"></div>
  </div>
  <div class="loading-text">Loading PrioritySound…</div>
</div>

<script>
  // random live animation for bars moving for effect
  const bars = document.querySelectorAll('.loading-bars .bar');
  function animateBars(){
    bars.forEach(bar => {
      const randomHeight = Math.floor(Math.random() * 50) + 20;
      bar.style.height = randomHeight + '%';
    });
  }
  setInterval(animateBars, 300);

  // Redirect to dashboard after 2 seconds
  setTimeout(()=> { window.location.href = "/dashboard"; }, 2000);
</script>
{% endblock %}
